<ion-header>
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="/edit" routerDirection="forward">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="full">
    <ion-item *ngFor="let t of todos">
      <ion-label (click)="goEditTodo(t.id)">{{ t.title }}</ion-label>
      <ion-icon (click)="deleteDialog(t.id, t.title)" name="trash" color="medium"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>